.layerstest{
	width:400px;
	height:200px;
	position:absolute;
	float:left;
	word-wrap:break-word;
	font-weight: 900;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	clip:rect(0px, 400px, 200px, 0px);
}
.selected{
	color: #222222;
	z-index: 10;
}
.unselected{
	color:#CCCCCC;
	z-index:1;
}
#layer1{
	top: 250px;
	left: 700px;
	font-size:15pt;
}
#layer2{
	top: 257px;
	left: 692px;
	font-size:25pt;	
}
#layer3{
	top: 246px;
	left: 708px;
	font-size:17pt;	
}
#layer4{
	top: 242px;
	left: 698px;
	font-size:30pt;	
}
#layer5{
	top: 253px;
	left: 692px;
	font-size:12pt;	
}
#layer6{
	top: 255px;
	left: 702px;
	font-size:20pt;	
}
