.layerstest{
	width:300px;
	height:100px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	position:absolute;
	float:left;
	word-wrap:break-word;
	top:300;
	left:800;
	font-weight:bold;
}
.selected{
	color:red;
	z-index: 4;
}
.unselected{
	color:black;
	z-index:1;
}