:root{
	var-layer-top: 300px;
	var-layer-left: 800px;
}

.layerstest{
	width:300px;
	height:100px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	position:absolute;
	float:left;
	word-wrap:break-word;
	font-weight:bold;
}
.selected{
	color:red;
	z-index: 4;
}
.unselected{
	color:black;
	z-index:1;
}
#layer1{
	top: var(layer-top);
	left: var(layer-left);
}
#layer2{
	top: var(layer-top);
	left: var(layer-left);	
}
#layer3{
	top: var(layer-top);
	left: var(layer-left);	
}
#layer4{
	top: var(layer-top);
	left: var(layer-left);	
}
#layer5{
	top: var(layer-top);
	left: var(layer-left);	
}
#layer6{
	top: var(layer-top);
	left: var(layer-left);	
}
